@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.our-mission-section {
  padding: 2rem 2rem;
  margin-top: 4rem; /* Adjust the margin to position below the navbar */
  width: 100%;
  background-color: #f3cf3b;
  text-align: center;
}

.our-mission-section#mission {
  margin-top: 7rem;
}

.interactive-map-section {
  height: 100vh;
  display: flex;
}

.carousel-container {
  width: 100vw;
  height: 100vh;
}

.carousel-container .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-track {
  height: 100vh;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

section {
  flex: 0 0 auto;
  width: 100%;
}

footer.footer-class {
  margin-top: auto;
}
