/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-center {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links {
  list-style-type: none;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 3rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links li a:hover {
  background-color: #ffed00;
  color: #333333;
  border-radius: 20px;
}
